# IDE
.vscode/

# Misc.
post.md
TODO.md

# Cython
classification_library/*.so
classification_library/*.c
build/

# Python
venv/
__pycache__/

# Pip
classification_library.egg-info/
dist/
.eggs/

# MacOS
.DS_Store